body {
  font-family: 'Cairo', sans-serif;
  background-color: #f4fafd;
  direction: rtl;
}

input[type="file"]::file-selector-button {
  font-family: 'Cairo', sans-serif;
}

#dataTable {
  background-color: #e0f7fa !important;
}

#dataTable th {
  background-color: #b2dfdb !important;
  color: #000;
}

#dataTable td {
  background-color: #e0f7fa !important;
  color: #000;
}

#dataTable tbody tr:hover td {
  background-color: #b2ebf2 !important;
}
